.Credentials {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  &__table {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    &-delete {
      border-radius: 1rem;
      margin: auto;
      text-align: center;
      background: $secondary-color;
      text-align: center;
      align-items: center;
      right: 0;
      display: flex;
      width: 20rem;
      height: 2rem;
      justify-content: center;
      color: white;
      cursor: pointer;
      &:hover {
        background: red;
      }
    }
    &-grp {
      width: 25rem;
      margin-right: 1rem;
      background: rgb(255, 250, 250);
      h2 {
        margin: 3rem 0 3rem 0;
        padding: 1rem;
      }
      &-title {
        background: rgb(159, 249, 255);
        padding: 1rem;
      }
    }
  }
  @include respond(phone) {
    justify-content: center;
  }
  @include respond(tab-port) {
    justify-content: center;
  }

  &__table {
    @include respond(phone) {
      width: 98%;
      justify-content: center;
    }
    @include respond(tab-port) {
      width: 98%;
      justify-content: center;
    }
    @include respond(tab-land) {
      width: 90%;
      justify-content: center;
    }
  }
}
