.dashboard {
  padding: 5rem;
  &__logout {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    margin-right: 6rem;
    color: $secondary-color;
  }
  &__welcome {
    margin-top: 2rem;
  }
}
