.dashboard {
  padding: 5rem;
  @mixin link {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    margin-right: 6rem;
    color: $secondary-color;
  }
  &__logout {
    @include link;
  }
  &_profiles {
    @include link;
    margin-top: 5rem;
    a {
      list-style: none;
      text-decoration: none;
      color: $secondary-color;
    }
  }
  &__welcome {
    margin-top: 2rem;
  }
  &__editProfile {
    display: flex;
    button:not(:first-child) {
      margin-left: 1rem;
    }
    button {
      width: 25rem;
    }
  }
}

.Credentials {
  margin-top: 3rem;
  &__table {
    margin-top: 2rem;
    display: flex;
    &-delete {
      width: 10rem;
      background: $secondary-color;
      text-align: center;
      align-items: center;
      position: relative;
      display: flex;
      justify-content: center;
      color: white;
      cursor: pointer;
      &:hover {
        background: red;
      }
    }
    &-grp {
      width: 25rem;
      margin-right: 1rem;
      background: rgb(238, 238, 238);
      h2 {
        margin: 3rem 0 3rem 0;
        padding: 1rem;
      }
      &-title {
        background: rgb(209, 209, 209);
        padding: 1rem;
      }
    }
  }
}
