.header {
  height: 100vh;
  background-color: $primary-color;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    height: 100%;
    width: 80%;
    margin: auto;
    text-align: center;

    @include respond(phone) {
      flex-direction: column;
      justify-content: start;
    }
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: start;
    }
  }
  &__loginForm {
    text-align: center;
    margin-top: 10rem;
    width: 40rem;
    height: 25rem;
    @include respond(phone) {
      margin: 8rem auto 0 auto;
    }
    @include respond(tab-port) {
      margin: 8rem auto 0 auto;
    }
  }
  &__form {
    margin-top: 3rem;
  }
}
.alert {
  background-color: pink;
  padding: 1rem;
}
