.posts {
  padding: 5rem;
}
.postComponent {
  padding: 4rem;
  background: rgb(240, 240, 240);
  h3 {
    margin-top: 2rem;
  }
  margin-top: 2rem;
  &__buttonContainer {
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;
    &-group {
      margin-right: 5rem;
      display: flex;
      align-items: center;
    }
  }
}
