.form {
  position: relative;
  &-row {
    text-align: left;
    position: relative;
    input,
    select {
      display: block;
      height: 4.5rem;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border: $secondary-color 1px solid;
      border-radius: 1rem;
    }
    textarea {
      display: block;
      height: 6rem;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border: $secondary-color 1px solid;
      border-radius: 1rem;
    }
    button {
      font-family: "Montserrat", sans-serif;
      margin-top: 1rem;
      width: 100%;
      height: 4rem;
      border: none;
      background-color: $secondary-color;
      border-radius: 1rem;
      color: white;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color: red;
      }
    }
    &__form-text {
      font-size: 1.5rem;
    }
    &__form-group {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}
.social {
  &-group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &-group {
    display: flex;
    justify-content: start;
    align-items: center;
    i {
      width: 2rem;
    }

    input {
      margin-left: 5rem;
      width: 100%;
    }
  }
}
.create {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  border: none;
  background-color: $secondary-color;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
